@import "./variables/color.scss";

// *{
//   border: 2px solid yellow;
// }

.container-form {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../src/images/cover.png) no-repeat no-repeat;
  background-size: cover;

  .content-form {
    height: 90vh;
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000009a;
    box-shadow: 0px 0px 15px 0px #f7f5f544;
    font-size: 1.2rem;
  }

  .form-login {
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    letter-spacing: 3px;
    flex-direction: column;
    color: #ffff;
    border-color: #9f6418;
    box-shadow: 1px 2px 8px 1px #fffdfd2c;
    width: 95%;
    height: 95%;
    align-items: center;
    justify-content: center;

    .login {
      display: flex;
      margin-bottom: 1rem;
      justify-content: center;
      align-items: center;

      h1 {
        color: #ffffff;
        font-size: 3.5rem;
        text-align: center;
      }
    }

    .inputs {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 100%;
      // min-width: 300px;
      align-items: center;
      padding: 1rem 0rem 0rem 0rem;

      .email {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        min-width: 280px;
      }
      .password {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        min-width: 280px;
      }
    }

    input {
      width: 100%;

      @media (max-width: 460px) {
        width: 100%;
      }
    }

    .options {
      font-family: "Bebas Neue", sans-serif;
      margin: 1rem 0rem;
      font-weight: 100;
      display: flex;
      font-size: 1rem;
      justify-content: space-around;
      width: 100%;

      p > a {
        text-decoration: none;
        color: #ffffff;

        &:hover {
          color: #9f6418;
          transition: 0.3s;
        }
      }
    }
    .message-error {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      color: #9f6418;
    }
    .btn-class {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 100%;

      button {
        width: 5.5rem;
        font-size: 1.5rem;
        background: none;
        border: 2px solid #9f6418;
        color: #ffffff;
        border-radius: 1rem;
        font-family: "bebas Neue", sans-serif;

        &:hover {
          color: #9f6418;
          transition: 0.3s;
          cursor: pointer;
        }
      }
    }
    .user-error {
      width: 300px;
      color: #9f6418;
      font-size: 1rem;
      margin-top: 0.5rem;
    }

    .spinner {
      margin-bottom: 1rem;
      width: 100%;
    }
  }
}
