@import "./variables/color.scss";


.container-form {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../src/images/cover.avif) no-repeat no-repeat;
  background-size: cover;

  .content-form {
    height: 90vh;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primaryColor;
    box-shadow: 0px 0px 15px 0px #f7f5f544;
    font-size: 1.5rem;
    @media(max-width: 600px){
      width: 100%;
    }
  }

  .form-login ,.form-register, .form-forget-password, .form-acess-code  {
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    letter-spacing: 3px;
    flex-direction: column;
    color: $secundaryColor;
    border-color: $tertyareColor;
    box-shadow: 1px 2px 8px 1px #fffdfd2c;
    width: 95%;
    height: 95%;
    align-items: center;
    justify-content: center;

    .login {
      display: flex;
      margin-bottom: 1rem;
      justify-content: center;
      align-items: center;

      h1 {
        color: $secundaryColor;
        font-size: 4.5rem;
        text-align: center;
      }
    }

    .inputs {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 100%;
      align-items: center;
      padding: 1rem 0rem 0rem 0rem;
      margin-bottom: 1.5rem;

      label{
        width: 7rem;
      }

      .email, .password, .name, .acess-code {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        min-width: 280px;
      }

    }

    input {
      width: 100%;
    }

    .options, .options-btn{
      font-family: "Bebas Neue", sans-serif;
      margin: 1rem 0rem;
      font-weight: 100;
      display: flex;
      font-size: 1rem;
      justify-content: space-around;
      width: 100%;

      p > a {
        text-decoration: none;
        color: $secundaryColor;

        &:hover {
          color: $tertyareColor;
          transition: 0.3s;
        }
      }
    }
    .message-error {
      font-size: 1.05rem;
      color: $tertyareColor;
    }
    .btn-class {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 100%;

      button {
        width: 5.5rem;
        font-size: 1.5rem;
        background: none;
        border: 2px solid $tertyareColor;
        color: $secundaryColor;
        border-radius: 1rem;
        font-family: "bebas Neue", sans-serif;

        &:hover {
          color: $tertyareColor;
          transition: 0.3s;
          cursor: pointer;
        }
      }
    }
    .options-btn {

      button, a {
        width: 6.5rem;
        font-size: 1.5rem;
        background: none;
        border: 2px solid $tertyareColor;
        color: $secundaryColor;
        border-radius: 1rem;
        font-family: "bebas Neue", sans-serif;

        &:hover {
          color: $tertyareColor;
          transition: 0.3s;
          cursor: pointer;
        }
      }

      a{
        text-align: center;
        text-decoration: none;
      }

    }
    .user-error {
      width: 300px;
      color: $tertyareColor;
      font-size: 1rem;
      margin-top: 0.5rem;
    }

    .spinner {
      margin-bottom: 1rem;
      width: 100%;
    }
  }
}
.alert{
  font-family: "Bebas Neue", sans-serif;
  height: 100vh;
  width: 100%;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}