
header{
  display: flex;
  align-items: center;
  justify-content:space-around;
  position: fixed;
  padding-top:1rem;
  top: 0;
  left: 0;
  width: 100%;
  color: #FFFFFF;
  
  @media(max-width:780px){
      padding: 0;
      justify-content: space-between;
  }

  .img-header{
    width: 80px;

    @media(max-width:780px){
      width: 70px;
    }
  }

  ul{
    font-family: 'Bebas Neue', 'sans-serif';
    display: flex;
    gap: 1rem;
    font-size: 2rem;

    @media(max-width:780px){
      display: none;
    }

    li{
      list-style: none;

      a{
        &:hover{
          color: #9F6418;
          transition: 0.3s;
        }
      }
    }
  }
}