.container-solicitation {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./cover.png) no-repeat no-repeat;
  font-family: "Bebas Neue", sans-serif;
  background-color: #000000;
  min-height: 100vh;
}
@media(max-width:310px){
  .container-solicitation {
    font-size: 0.95rem;
  }
}

.form-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  background-color: #0000009a;
  box-shadow: 0px 0px 15px 0px #f7f5f544;
}
@media(max-width:600px){
  .form-content{
    width: 100vw;
  }
}

.form-solicitation {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  background-color: #000000b0;
  box-shadow: 1px 2px 8px 1px #fffdfd2c;
}@media(max-width:600px){
 .form-solicitation{
  width: 100%;
 }
}

.form-solicitation>p{
  font-size: 1.3rem;
}
.form-solicitation>h2{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  margin-top: 3rem;
}

.inputs-solicitation {
  margin: 0.5rem 0rem;
  font-size: 1.3rem;
  display: flex;
}

.inputs-solicitation input {
 width: 1.3rem;
}
.inputs-solicitation label {
  margin-left: 0.5rem;
  
}

.calendar {
  width: 100%;
  display: flex;
  padding: 1rem 0rem;
  margin-top: -1.7rem;
 
}

.calendar>input{
  width: 14rem;
  height: 3rem;
}

.choose{
  width:14rem;
  height: 3rem;
  padding: 0.3rem;
}

.button-solicitation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -0.8rem;
}

.unavailabletime{
  color: #ff0000;
}

.confirm-solicitation {
  width: 7.5rem;
  font-size: 1.5rem;
  background: none;
  border: 2px solid #9f6418;
  color: #ffffff;
  padding: 0.2rem;
  border-radius: 1rem;
  letter-spacing: 3px;
  font-family: "bebas Neue", sans-serif;
}

